.intro {
    display: flex;
    flex-direction: column;
    margin-top: 92px;
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-top: 88px;
        }
    }

@media screen and (max-width: 767px) {
    .intro {
        margin-top: 64px;
        width: calc(100% - (2 * 16px));
    }
}