.cover__background {
    background-image: url('../../../image/do-baykala-na-sobakah.png');
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 740px;
    flex-direction: column;
    justify-content: center;
    text-decoration-line: none;
    position: relative;
    z-index: 1;
    margin: 92px auto 92px auto;
 }

.cover__background:before {
    content: '';
    background-image: url('../../../image/overlay.png');
    opacity: 0.3;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: -1;
    transition: 0.4s;
}
.cover__background:hover:before {
    opacity: 0.6;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 100%;
        min-height: 640px; 
    }
}
@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
        margin: 66px 0 66px 0;
        background-size: contain;
    }
}