.page__container {
    width: calc(100% - (2 * 48px));
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .page__container {
        width: calc(100% - (2 * 24px));
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .page__container {
        width: calc(100% - (2 * 16px));
        margin: 0 auto;
    }
}