.lead__illustration {
    max-width: 984px;
    height: 615px;
    background-image: url('../../../image/__image.svg');
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .lead__illustration {
    max-width: 928px;
    height: 580px;
    background-image: url('../../../image/__image.svg');
}
}

@media screen and (max-width: 768px) {
    .lead__illustration {
    max-width: 768px;
    height: 480px;
    background-image: url('../../../image/__image.svg');
}
}

@media screen and (max-width: 320px) {
    .lead__illustration {
    max-width: 320px;
    height: 200px;
    background-image: url('../../../image/__image.svg');
}
}
