.lead__illustration {
    max-width: 984px;
    height: 615px;
    background-image: url('../../../image/__image.svg');
    background-size: cover;
}

@media screen and (max-width: 1280px) {
    .lead__illustration {
    max-width: 984px;
    height: 580px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__illustration {
    max-width: 768px;
    height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .lead__illustration {
    width: 100%;
    height: 200px;
    }
}
